@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daochushuju:before {
  content: "\e6c8";
}

.icon-fujian:before {
  content: "\e6a7";
}

.icon-download:before {
  content: "\eaa3";
}

.icon-bag:before {
  content: "\e62c";
}

.icon-xiaoshou:before {
  content: "\e608";
}

.icon-yue:before {
  content: "\e60e";
}

.icon-dianji:before {
  content: "\e695";
}

.icon-clock:before {
  content: "\e617";
}

.icon-erweima:before {
  content: "\e646";
}

.icon-zhanghuyue:before {
  content: "\e61a";
}

.icon-chongzhika:before {
  content: "\e600";
  font-size: 13px;
}

.icon-wangye:before {
  content: "\e795";
}

.icon-qiandao:before {
  content: "\e69d";
}

.icon-fabu:before {
  content: "\e60f";
}

.icon-login:before {
  content: "\ec05";
}

.icon-liushui:before {
  content: "\e69b";
}

.icon-tixian:before {
  content: "\e606";
}

.icon-gongdanguanli:before {
  content: "\e6d5";
}

.icon-dingdan:before {
  content: "\e667";
}

.icon-chongzhi:before {
  content: "\e633";
}

.icon-sousuo:before {
  content: "\e604";
}

.icon-chajian:before {
  content: "\e69c";
}

.icon-chajiangongneng:before {
  content: "\e64f";
}

.icon-zhifubao:before {
  content: "\e607";
}